/* Buy-Sell section */

#buy-sell {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 110px;
}

.buy-sell-row {
  display: flex;
}

.buy-sell-side {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.side-img {
  margin-right: 50px;
  max-width: 100%;
}

.side-img img {
  width: 100%;
}

.line {
  width: 100px;
  height: 3px;
  background-color: #ffa800;
}

.texts h2 {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.texts p {
  color: #838383;
  line-height: 1.92;
  margin-bottom: 3rem;
}

/* Trading */

#trading {
  padding-block: 110px;
  background-color: #f5f9fa;
}

.trading-header {
  margin: 0 auto;
  text-align: center;
}

.trading-header .texts {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.trading-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 79px;
}

.card {
  padding: 0 15px;
  flex: 0 0 33%;
  max-width: 33%;
}

.card-container {
  text-align: center;
}

.card-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card-image img {
  width: 100%;
}

.card-title {
  font-weight: 500;
  font-size: 22px;
  color: #212121;
  margin-top: 11px;
}

.card-container p {
  font-size: 17px;
  font-weight: 400;
  color: #838383;
  margin-top: 20px;
}

/* News section */

#news {
  padding-block: 110px;
}

.card-img {
  width: 100%;
}

.card-img img {
  width: 100%;
}

.content {
  padding: 20px;
  text-align: left;
}

.content-top {
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}

.content p {
    margin-bottom: 15px;
  color: #838383;
}

.content .slider-btn {
  padding: 12px 15px;
}


/* Footer */

footer{
  background-color: #212121;
  padding-block: 30px;
}

.footer-top{
  color: #697686;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

.footer-bottom{
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

.footer-ul{
  display: flex;
  justify-content: center;

}

.footer-ul li{
  padding: 15px;
  color: #697686;
}


